<ion-card color="light"
          class="full-height">
  <!-- Fixed Header -->
  <ion-card-header>
    <ion-grid>
      <ion-row>
        <!--Back Button-->
        <ion-col size="3">
          <ion-button (click)="closePopup()">
            <ion-icon name="arrow-back"
                      color="light"></ion-icon>
          </ion-button>
        </ion-col>
        <!--Title-->
        <ion-col size="6">
          <h2>{{ 'task-selection.lbl-title' | translate }}</h2>
        </ion-col>
        <!--Save Button-->
        <ion-col size="3">
          <ion-button (click)="btnSaveClick()"
                      color="success">
            <ion-icon name="save-outline"
                      color="light"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="padding-5">
        <ion-col>
          <ion-text>
            {{ 'task-selection.lbl-sub-title-msg' | translate }}
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>

  <!-- Body -->
  <ion-card-content>
    <!--Task List-->
    <ion-grid>
      <ion-row class="grey-box background-white">
        <ion-col>
          <ion-grid>
            <ion-row>
              <ion-col class="content-center">
                <h2>Daily tasks</h2>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-list class="max-width">
                  <ng-container *ngFor="let task of selectableTasksDaily">
                    <app-task-selection-card [currentTask]="task"
                                             (checkChangedEvent)="taskSelected($event)"></app-task-selection-card>
                  </ng-container>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
      <ion-row class="grey-box background-white">
        <ion-col>
          <ion-grid>
            <ion-row>
              <ion-col class="content-center">
                <h2>Special tasks</h2>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-list class="max-width">
                  <ng-container *ngFor="let task of selectableTasksSpecial">
                    <app-task-selection-card [currentTask]="task"
                                             (checkChangedEvent)="taskSelected($event)"></app-task-selection-card>
                  </ng-container>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>