hypertask/src/scripts/ionic_deploy/secrets.json
hypertask/src/environments/environment.prod.ts
hypertask/src/environments/environment.source.dev.ts
hypertask/src/environments/environment.source.prod.ts
hypertask/src/environments/environment.source.staging.ts
hypertask/src/environments/environment.ts
.idea/