ion-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-card {
  border-color: #1b1b1b !important;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}

.unzoom {
  zoom: 0.8;
}

ion-footer {
  min-height: 30px !important;
}

ion-icon {
  color: white;
}

ion-item {
  --min-height: 20px;
}

ion-title {
  color: black;
  font-size: medium;
}

ion-card-header {
  padding: 0px;
}

ion-progress-bar {
  --buffer-background: var(--ion-color-dark);
}

ion-item {
  --min-height: 16px;
  --padding-start: 0px;
  --inner-padding-start: 0px;
  --padding-end: 0px;
  --inner-padding-end: 0px;
}

.background-white {
  background-color: white;
}

.header-border {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

ion-button {
  min-height: 32px;
}
