
.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.text-center {
  text-align:center;
}

.overflow-scroll {
  overflow-y: scroll;
}

h3 {
  font-size: large;
  color: black;
}
