<ion-grid class="content-center">
  <ion-row>
    <ion-col>
      <ion-card [hidden]="!showLogin" color="light">
        <ion-card-header class="content-center">
          <h2>{{ 'login.lbl-title' | translate }}</h2>
        </ion-card-header>
      
        <ion-card-content>
          <firebase-ui
            (signInSuccessWithAuthResult)="successCallback($event)"
            (signInFailure)="errorCallback($event)"></firebase-ui>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
