ion-card {
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

ion-card-content {
  overflow-y: scroll;
  max-height: 100%;
  margin: 4px !important;
}

ion-col {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

ion-card-header {
  padding: 1px;
}

ion-card {
  border-color: darkgreen;
  border-style: solid;
}

ion-grid {
  padding: 1px;
}

ion-checkbox {
  margin-left: 10px;
}

.bordered {
  border-color: lightgray;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
}

.bordered-content {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  padding: 2px;
}

.zoom {
  zoom: 1.3;
}

ion-button > ion-label {
  color:white !important;
}

.header-border {
  border-color: #1b1b1b;
  border-width: 2px;
  border-style: solid;
}

.full-height {
  height:100%;
}

h2 {
  color:black;
  font-size: large;
}

ion-label {
  color:black;
}

ion-row {
  padding-top:4px;
  padding-bottom: 4px;
}

ion-select {
  min-width: max-content;
}

.text-wrap {
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
}

ion-content{
  --background: transparent;
}

.max-height {
  max-height: 100%;
}

.scrollable {
  overflow-y: scroll;
}

.no-overflow {
  overflow-y: hidden;
}

.max-height-inherit {
  height: inherit !important;
}

.max-height-fixed {
  max-height: 300px;
  overflow-y: scroll;
}

ion-item {
  --min-height: 20px;
}

.percent-width {
  width: 100%;
}

.note-padding {
  padding: 4px;
  margin: 4px;
}

.background-light {
  background: var(--ion-color-light);
}

ion-item {
  padding: 10px;
  background-color: white;
}