ion-col {
  padding: 0px;
}

ion-modal {
    .modal-wrapper {
        height: 70%;
        width: 60%;
    }
}

ion-card-header {
  padding: 1px;
}

ion-grid {
  padding: 1px;
}

.column {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.flex-item {
  width:80%;
}

.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-center-right {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-self: center;
}

.content-center-left {
  display: flex;
  align-items: center;
  justify-content: left;
}

.bordered {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  padding: 2px;
  margin: 2px;
}

.color-white {
  color: white;
}

.background-white {
  background-color: white;
}

.bordered-content {
  border-top-color: black;
  border-top-width: 2px;
  border-top-style: solid;
  padding: 2px;
}

.content-center-evenly {
  display: flex;
  align-items: center;
  justify-content: center;

  ion-icon {
    margin-right: 5px;
  }
}

.bordered-large {
  border-color: black;
  border-width: 4px;
  border-style: solid;
  padding: 2px;
  margin: 2px;
}

.font-medium {
  font-size: medium;
}

.zoom {
  zoom: 1.5;
}

.pre-wrap {
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
}

ion-button > ion-label {
  color:white !important;
}

ion-button {
  min-height: 32px;
}

.header-border {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.margin-left {
  margin-left: 5px;
}

.margin-5 {
  margin: 5px;
}

.full-width {
  width: 100%;
}

ion-item {
  --min-height: 16px;
}

.small-width {
  --padding-start: 3px;
  --padding-end: 3px;
}

.small-height {
  min-height: 20px;
}