# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.angular
/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www
*/scripts/ionic_deploy/secrets.json
*/scripts/azure_create_resources/secrets-prod.json
*/scripts/azure_create_resources/secrets-staging.json
*/scripts/azure_create_resources/secrets-dev.json
*/environments/environment.source.dev.ts
*/environments/environment.source.prod.ts
*/environments/environment.source.staging.ts
