.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-btn {
  width: 80% !important;
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
}

ion-item {
  ion-icon {
    margin-right: 15px;
  }
}

