/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.selectable {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.li-ionic4-datePicker {
  .modal-wrapper {
      height: 500px;
      max-height: 100%;
      width: 312px;
  }
}

ion-footer.footer-md {
  min-height: 75px !important;
}

app-task-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

app-send-feedback {
  display: flex;
  align-items: center;
  justify-content: center;
}

.black-box {
  border: solid;
  border-width: thin;
  border-radius: 5px;
  border-color: black;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
}

.grey-box {
  border: solid;
  border-width: thin;
  border-radius: 5px;
  border-color: lightgray;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
}

.light-box {
  border: solid;
  border-width: thin;
  border-radius: 5px;
  border-color: var(--ion-color-light);
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
}

.time-picker {
  --max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picker-toolbar {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.picker-wrapper {
  bottom: auto !important;
}

.full-size {
  height: 100%;
  width: 100%;
}

.text-center {
  text-align: center;
}

.item-native {
  padding: 0px !important;
}

.item-inner {
  padding: 0px !important; 
}

.introjs-helperLayer {
  background-color: rgba(255,255,255, .3) !important;
}

.alert-top {
  top: 0px !important;
  padding-top: 100px !important;
  position: absolute;
}
