ion-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-card {
  border-color: #1b1b1b !important;
  border-style: solid;
  border-width: 1px;
}

ion-footer {
  min-height: 30px !important;
}

ion-icon {
  color: white;
}

ion-item {
  --min-height: 20px;
}

ion-title {
  color: black;
  font-size: medium;
}

ion-card-header {
  padding: 0px;
}

ion-progress-bar {
  --buffer-background: var(--ion-color-dark);
}

ion-popover {
	--width: 200px !important;
}

.small-font {
  font-size: small;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.color-light {
  color: var(--ion-color-light);
}

ion-segment-button {
  height: 40px;
  min-height: 40px;
}
  
ion-segment-button.segment-button-checked {
  border-bottom: 2px solid;
}

.color-red {
  color: red;
}

.color-green {
  color: green;
}

.color-yellow {
  color: yellow !important;
}
